.search,
.filter {
    width: 300px;
    margin-right: calc((100% - 600px)/3)!important;
    margin-left: calc((100% - 600px)/3)!important;
}

.search {
    width: 300px;
    margin-right: 0px!important;
}

.custom-select {
    width: 200px!important;
    vertical-align: inherit;
}

label {
    width: 100px;
}

.fa-sort-down:hover {
    color: hotpink;
}