.search-wrapper {
    display: flex;
    justify-content: space-between;
}

.search {
    width: 200px;
    margin-right: 0px!important;
}

.filter {
    width: fit-content;
}

.custom-select {
    width: 110px!important;
    vertical-align: inherit;
}

label {
    width: 125px;
}

.fa-sort-down:hover {
    color: hotpink;
}